@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playball&display=swap');

@font-face {
	font-family: "FonteLogo";
	src: url("../fonts/bubblegum-sans-regular.otf");
}
/* estilo dos parágrafos e cor de fundo*/
        body {
			font-family: arial;
            background-color: #dddddd;
            color: rgba(0, 0, 0, 1)
            }
			
div#interface {
	width: 1000; /*Deixa todo o conteúdo limitado quanto à largura */
	background-color: #ffffff; /* altera a cor de fundo da interface (div)*/
	margin: -20px/*cima*/ auto/*direita*/ 0px/*baixo*/ auto;/*esquerda*/
	box-shadow: 0px/*Desl. hor*/ 0px /*desl ver */ 10px /*espalhamento*/ rgba(0, 0, 0, 0.5);
	padding: 10px;
}
			
        p {
            text-align: justify;
            text-indent: 50px;
        }
		
a{
	color: #606060;
	text-decoration: none; 
}

a:hover{
	text-decoration: underline;
}

header#cabecalho img#icone {
	position: absolute;
	left: 960px;
	top: 70px;
}

header#cabecalho {
	border-bottom: 1px #606060 solid;/*Borda superior - espessura, cor e tipo*/
	height: 150px; /*Altura do cabeçalho*/
	background: url("../imagens/glass-logo-peq.jpg") no-repeat 0px 80px; /*Usa imagem como plano de fundo. O parâmetro no-repeat 
					evita que preencha com várias imagens. A posíção é dada pelos deslocamentos Vertical e Horizontal*/
	
}

header#cabecalho h1{
	font-family: 'FonteLogo', sans-serif;
	font-size: 30pt;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
	padding:0px;
	margin-bottom: 0px;
}

header#cabecalho h2{
	font-family: Playball, sans-serif;
	color: #888888;
	font-size: 15pt;
	padding: 0px;
	margin-top: 0px;
}

/*Formatação de imagens com legendas */
figure.foto-legenda {
	position: relative; /* coloca a figura em uma posição relativa */
	border: 8px solid white; /* largura - tipo - cor */
	box-shadow: 2px 2px 4px black; /* cria  sombra ** desl H V Espalhamento e COR */
}

figure.foto-legenda img{
	width: 100%;
	height: 100%;
}

figure.foto-legenda figcaption{ /*Cria o estilo da legenda */
	opacity: 0; /*Deixa a legenda transparente */
	position: absolute; /*atribui uma posição absoluta */
	top: 0px; /* define a posição exata (0 pixel do topo da figura) */
	background-color: rgba(0, 0, 0, 0.4); /* Deixa p fundo da legenda "MEIO" preto */
	color: white; /* cor da fonte */
	width: 100%; /*Faz com que a legenda ocupe todo o espaço (largura) da imagem */
	height: 100%; /*Faz com que a legenda ocupe todo o espaço (altura) da imagem */
	padding: 10px;
	box-sizing: border-box; /* deixa a área da legenda do tamanhdo da borda da imagem */
	transition: opacity 1s; /* faz a legenda aparecer mais lentamente no passar do mouse */
}

/*faz a legenda aparecer quando passa o mouse por cima */
figure.foto-legenda:hover figcaption{
	opacity: 1;
}

/* Formatação do menu */
nav#menu{
	display: block;/*Torna o menu, um bloco que pode flutuar sobre a tela */
}

nav#menu ul{
	list-style: none; /* Tirando a marcação da lista */
	text-transform: uppercase; /* Deixa todas as letras do menu maiúsculas */
	position: absolute;
	top: -20px;
	left: 500px;
}

nav#menu li{ /* Age em cada item da lista do menu */
	display: inline-block; /* Coloca os itens da lista em linha ao invés de coluna */
	background-color: #dddddd; /* Deixa o fundo cinza claro */
	padding: 10px; /* Adiciona um espaço interno de 10 pixels em cada item do menu */
	margin: 2px; /*adiciona espaço fora do botão/objeto (item do menu) */
	transition: background-color 1s;
}

nav#menu li:hover{
	background-color: #606060;
}

nav#menu h1{ /*altera todos os títulos h1 do bloco de menu */
	display: none; /*Esse título (nesta sessão) ficará invisível ao usuário. Apenas o browser saberá que ele esxiste */
}

/*Mudando a aparência dos links de NAV */
nav#menu a{
	color: #000000; /*muda a cor para preto*/
	text-decoration: none; /*tira o sublinhado*/
}

/* Mudando a aparência dos links quando passar o mouse */
nav#menu a:hover {
	color: #ffffff; /*muda a cor para branco*/
	text-decoration: underline; /*sublinha*/
}

section#corpo {
	display: block;
	width: 830px;
	float: left;
	border-right: 1px solid #606060;
	padding-right: 15px;
}

article#noticia-principal h2 {
	font-size: 13pt;
	color:#606060;
	background-color: #dddddd;
	padding: 5px 0px 5px 10px;
	margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1{
	font-family: 'FonteLogo', sans-serif;
	font-size: 20pt;
	color: #606060;	
	margin-bottom: 0px;
	margin-top: 0px;
}

header#cabecalho-artigo h2{
	font-size: 13pt;
	color: #cecece;
	background-color: #ffffff;
	margin: 0px;
}
header#cabecalho-artigo h3{
	font-size: 12px;
	color: #606060;
}

.direita {
	text-align:right;
}

/*FORMATANDO A TABELA DE ESPECIFICAÇÕES */
table#tabelaspec {
	border:1px solid #606060;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
}

table#tabelaspec td {
	border:1px solid #606060;
	padding: 10px;
}

table#tabelaspec td.ce{
	color: #ffffff;
	background-color: #888888;
	vertical-align: top;
	font-weight: bold;
}

table#tabelaspec td.cd{
	color: #ffffff;
	background-color: #cecece;
	text-align: right;
}

table#tabelaspec caption {
	color:#888888;
	font-size: 13pt;
	font-weight: bold; /*Negrito */
}

table#tabelaspec caption span {
	display: block;
	float: right;
	color: #000000;
	font-size: 8pt;
	margin-top: 10px;
}

aside#lateral {
	display: block;
	width: 400px;
	float: right;
	background-color: #dddddd;
	margin-top: 10px;
	box-shadow: 2px 2px 2px rgba(0,0,0, 0.5);
}

aside#lateral h1 {
	font-family: 'FonteLogo', sans-serif;
	font-size: 20pt;
	color: #606060;
	padding: 10px;
	margin-top: 0px;
}

aside#lateral h2 {
	background-color: #606060;
	font-size: 13pt;
	color: #ffffff;
	padding: 10px;
}

footer#rodape {
	clear: both;
	border-top: 1px solid #606060;
}

footer#rodape p{
	text-align: center;
}